@mixin center-object{
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

@mixin clearfix{
    &::after{
        content:"";
        clear:both;
        display:block;
    }
}

/* Responsive*/

@mixin responsive($break) {
    @if $break==phone {
        @media only screen and (max-width:36em ) {
            @content;
        }
    }

    @if $break==tab-port {
        @media only screen and (max-width:48em ) {
            @content;
        }
    }

    @if $break==tab-land {
        @media only screen and (max-width:61.9em ) {
            @content;
        }
    }

    @if $break==big-desktop {
        @media only screen and (min-width:75em ) {
            @content;
        }
    }
}