.row {
    width: 114rem;
    margin: 0 auto;
    margin-top: $vertical-gutter;

    .col-1-of-2 {
        background-color: $primary-light;
        height: 5rem;
        width: calc((100% - #{$horizontal-gutter})/2);
        float: left;

        &:not(:last-child) {
            margin-right: $horizontal-gutter;
        }
    }

    .col-1-of-3  {
        background-color: $primary-light;
        height: 5rem;
        width: calc((100% - 2 * #{$horizontal-gutter})/2);
        float: left;

        &:not(:last-child) {
            margin-right: $horizontal-gutter;
        }
    }
}
