.composition {
    position: relative;
    margin-left:5rem;
    &__img {
        width: 45%;
        box-shadow: 0 1.5rem 4rem rgba($black, .4);
        border-radius: 1rem;
        position: absolute;
        transition:all .3s;

        &--1 {
            left: 0;
            top: 0;
        }

        &--2 {
            left: 10rem;
            top: 10rem;
        }

        &--3 {
            left: 20rem;
            top: 20rem;
        }

        &:hover{
            transform:scale(1.05) translate(-.5rem);
            z-index:20;
            box-shadow:0 2rem 2rem rgba($black, .7);
        }

        &:hover &:not(:hover){
            transform:scale(.8);
        }
    }
}
