.contact {
    height: 73rem;
    background-image: radial-gradient(circle closest-corner at 75% 80%, transparent 0, transparent 50%, rgba($primary-light, .3)50%), url('img/contact.jpg');
    background-size: cover;
    background-position: left 50%;
    border-radius: 3rem;
    box-shadow: 0 1.4rem 2rem rgba($black,.4);
    &__form{
        width:50%;
        padding:6rem;
    }
}
