.heading-primary {
    color: $white;
    font-weight: 400;
    margin-bottom: 2.5rem;

    &--main {
        display: block;
        font-size: 8rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    &--sub {
        display: block;
        font-family: "satisfy", serif;
        font-size: 3rem;
    }
}
