.about-section{
    background-color:$gray-light-1;
    padding:7rem 0;
}


.amenities-section {
    background-color: $white;
    padding: 7rem 0;
}

.testimonial-section {
    position:relative;
    padding: 7rem 0;
}